$primary: #006699;
$white: #fff;

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: $primary;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.rt {
	&-header {
		background: $primary;
		color: $white;
		padding: 20px 0;
		text-align: center;
	}
	&-content {
		min-height: 300px;
		padding: 3em 5em;
		margin: 0 auto;
    	max-width: 768px;
	}
	&-counter-field {
		display: block;
		margin: 10px 0;
	}
	&-btn {
		padding: 10px 20px;
		background: $primary;
		color: $white;
		border: none; 
		margin-right: 10px;
	}
}


